[*.cs]

# IDE0160: Convert to block scoped namespace
dotnet_diagnostic.IDE0160.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = silent

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = silent

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = silent

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA0001: XML comment analysis
dotnet_diagnostic.SA0001.severity = none

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = warning

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = silent

#################################################
## Following one conflits with csharpier ########
#################################################

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = none

# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity = none

# SA1502: Element should not be on a single line
dotnet_diagnostic.SA1502.severity = none